/**
 * MENU DE RESTAURANT : MANOIR DE L'HORREUR
 * Étudiant : Mrini Ammar
 * Date : 29-01-2026
 */

/* POLICES */
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Special+Elite&family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('arrier-plan.jpg') no-repeat center center fixed;    /* Image d'arrière-plan qui provient de pinterest. */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}


main {
    max-width: 800px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid #444;
    box-shadow: 0 0 40px #000000b3;
    border-radius: 3px;
}


h1 {
    font-family: 'Butcherman', cursive;
    font-size: 5rem; 
    color: #990000;
    text-align: center;
    text-shadow: 3px 3px 5px #000;
    margin-bottom: 30px;
}

h2, h3, h4, h5 {
    font-family: 'Butcherman', cursive;
    font-size: 2.5rem; 
    color: #4a3728;
    border-bottom: 2px solid #990000;
    margin: 40px 0 20px 0;
    padding-bottom: 5px;
}

article {
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: 1px;
}

/* survol des articles */
article:hover {
    background-color: #ff000092;
    cursor: help;
}

/* une fois pour tout les 4 en même temps pour minimiser le code */
.boisson, .Entrées, .Plats, .Desserts {
    display: flex;
    justify-content: space-between; 
    align-items: baseline;
}

.plat {
    font-family: "Lacquer", system-ui; 
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem; 
    color: #000;
    letter-spacing: 1px;
}

.prix {
    font-family: 'Butcherman', cursive;
    color: #990000;
    font-size: 1.2rem;
}

.description {
    font-family: 'Creepster', system-ui;
    font-size: 1.1rem; 
    color: #555;  
    margin-top: 8px;
    max-width: 90%;
}


.badge {
background-color: #990000;
color: white;
font-size: 0.8rem; 
padding: 2px 8px;
border-radius: 4px;
margin: 0 10px; 
vertical-align: middle;
font-family: 'Lacquer', system-ui;   
text-transform: uppercase;
display: inline-block; 
}




